<header class="header_wrp" *ngIf="router.url != '/login'">
  <div class="logo">
    <a href="#" routerLink="home">
      <img src="../assets/images/SBL_logo.svg" alt="SBL" />
      <span class="app_name">DIGITAL ARCHIVAL <br />MANAGEMENT SYSTEM</span>
    </a>    
  </div>
  <div class="login">
    <button class="login_btn" routerLink="login" mat-button *ngIf="router.url != '/login' && router.url == '/home'">
      <span class="material-icons me-1">
        person_outline
      </span>
      Login
    </button>
  

    <div class="user_profile" mat-button [matMenuTriggerFor]="menu" *ngIf="router.url != '/login' && router.url != '/home'">
      <div class="profile_pic">
        <img src="../assets/images/placeholder.png" />
      </div>
      John smith
    </div>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item>
        <mat-icon>person_outline</mat-icon>
        View Profile
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>

  </div>
 
</header>

<!-- <a routerLink="home">Home</a>
    <a routerLink="login">Login</a>
    <a routerLink="digitalization">Digitalization</a>
    <a routerLink="users">User Management</a> -->

<div class="content" role="main">
  <router-outlet></router-outlet>    
</div>



